* {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

body {
    height: 100vh;
    width: 100vw;
    position: relative;
    margin: 0;
    padding: 0;
    text-align: center;
}

button {
    background-color: turquoise;
    color: rgb(12, 11, 11);
    height: 60px;
    width: 160px;
    border-radius: 10px;
    outline: none;
}

.wrapper {
    width: 100%;
}

div {
    width: 50%;
    height: 100px;
    display: inline-block;    
    left: 20%;
    top: 20%;
    margin-top: 30px;
}
